# API Configuration
API_KEY=random uuid


# OpenAI Configuration
OPENAI_API_KEY=openai-api-key


# Pinecone Configuration (Vector Database)
PINECONE_API_KEY=pinecone-api-key
PINECONE_ENVIRONMENT=pinecone-reason
PINECONE_INDEX_NAME=pinecone-index-name
